/*Schrijf hier jouw eigen CSS!*/

.pokemon-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.pokemon-card img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.pokemon-card h2 {
    font-size: 18px;
    font-family: "Proxima Nova";
    margin-bottom: 5px;
}

.pokemon-card p {
    margin: 5px 0;
    font-family: "Proxima Nova";
}

.pokemon-card ul {
    padding: 0;
    maring: 0;
    list-style: none;
}

.pokemon-card ul li {
    margin-bottom: 3px;
}